a {
    color: rgb(57, 57, 57);
    text-decoration: none !important;
    border: none !important;
    margin-right: 30px;

    &:last-child {
        position: absolute;
        right: 15px;
        cursor: pointer;
    }

    &:hover {
        color: rgb(0, 0, 0);
    }
}

.navbar {
    height: 35px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: teal;
}