.search {
    width: 25vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    min-height: 100px;

    @media (max-width: 1450px) {
        width: 30vw;
    }
}

.parameters {
    width: 85%;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 10px 0 0;
    font-size: 20px;
}

Input {
    margin: 10px 0;
}