.search {
    position: absolute;
    top: 90px;
    left: 1vw;
    width: 25vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    min-height: 100px;
}

.parameters {
    width: 85%;
    margin: 0 auto;
}