$user: '../img/user.png';
$password: '../img/key1.png';
$repeatedPassword: '../img/key2.png';

.login {
    min-width: 30vw;
    margin: 100px 35vw 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: white;
    min-height: 15vw;
    display: flex;
    flex-direction: column;
}

.login__choice {
    margin: 20px 25% 5px;

    span {
        margin: 0 20px;
        font-size: 20px;
        cursor: pointer;
    }

    .activeSpan {
        color: teal;
        font-weight: 700;
        cursor: default;
    }
}

form {
    margin: 10px 15% 0 10%;

    Button {
        margin: 10px 30% 5px;
        width: 10vw;
        bottom: 15px;
    }

    .error, .submitError {
        color: red;
        font-size: 15px;
        text-align: center;
    }

    .submitError {
        margin: 0 0px 20px;
        text-align: center;
    }
}

.field {
    display: flex;
    flex-flow: row;
    width: 100%;

    div {
        flex-basis: 20%;
    }

    .inp {
        margin: 0 0 10px;
        flex-basis: 80%;
    }

    .user {
        background: url($user) center center no-repeat;
    }

    .password {
        background: url($password) center center no-repeat;
    }

    .repeatedPassword {
        background: url($repeatedPassword) center center no-repeat;
    }
}
