.btn {
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    color: teal;
    border: 1px solid teal;

    &:disabled {
        opacity: 0.5;
    }

    &:enabled {
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 128, 128, 0.1);
        }
    }

    @media (max-width: 800px) {
        font-size: 12px;
    }
}