.btn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.btn:hover {
    background-color: rgba(0, 128, 128, 0.1);
}