.searches {
    display: none;
    
}   

.searches.active {
    display: block;
    text-align: center;
    height: 100px;
    overflow-y: auto;
}

.searches__item {
    height: 25%;
    cursor: pointer;

    &:hover {
        color: teal;
    }
}