.selector {
    margin-bottom: 10px;
}

.selector__genres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.genres__wrap {
    display: inline-flex;
    flex-basis: 33.33333%;
    margin-top: 5px;
    user-select: none;
    text-transform: lowercase;

    @media (max-width: 1350px) {
        flex-basis: 50%;
    }

    .genres__label {
        cursor: pointer;
    }

    .genres__inp {
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + .genres__label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        & + .genres__label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;

            @media (max-width: 800px) {
                width: 0.5em;
                height: 0.5em;
            }
        }

        &:checked + .genres__label::before {
            background: url('../../../img/checked.png') center center no-repeat;
            border-color: teal;
            background-color: teal;
        }

        &:not(:disabled):not(:checked) + .genres__label:hover::before {
            border-color: teal;
        }

        &:not(:disabled):not(:checked) + .genres__label:hover {
            color: teal;
        }
    }
}

.selector__title {
    cursor: pointer;
    display: inline;
    font-size: 20px;
    background: url('../../../img/arrowUp-Black.png') left center no-repeat;
    padding-left: 20px;
}

.selector__title.active {
    color: teal;
    background: url('../../../img/arrowDown-Teal.png') left center no-repeat;
}