//ActorItem
.actor {
    padding: 15px;
    margin: 15px 0;
    justify-content: space-between;
    align-items: end;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background-color: white;

    .actor__content {
        width: 35vw;
        min-height: 30px;
        max-height: 400px;
        word-wrap: break-word;
        margin-bottom: 5px;
    }

    &:hover {
        box-shadow: 0 0 0 1px rgba(0,128,128,1);
    }

    .btn {
        text-align: right;

        Button {
            color: red;
            border: 1px solid red;

            &:enabled:hover {
                background-color: rgba(255, 0, 0, 0.1);
            }
        }
    }
}

//ActorForm
.form {
    Input {
        margin: 0 0 15px;
    }

    .error {
        color: red;
        font-size: 15px;
    }
}
