//MovieItem
.movie {
    padding: 15px;
    margin: 15px 0;
    justify-content: space-between;
    align-items: end;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    background-color: white;

    &:hover {
        box-shadow: 0 0 0 1px rgba(0,128,128,1);
    }

    .movie__title {
        align-content: center;
        font-weight: 900;
        font-size: 24px;

        @media (max-width:700px)
        {
            font-size: 19px;
        }
    }

    .movie__premiere {
        font-size: 12px;
        color: gray;
    }

    .movie__description {
        min-height: 10px;
        word-wrap: break-word;
        margin: 6px 0;

        @media (max-width: 800px) {
            font-size: 13px;
        }
    }

    .movie__genres {
        font-weight: 300;
        text-transform: lowercase;
        font-size: 14px;
        margin-top: -3px;
        word-wrap: break-word;
        min-height: 10px;

        :not(:first-child) {
            padding-left: 5px;
        }
    }

    .movie__cast {
        @media (max-width: 800px) {
            font-size: 14px;
        }
    }

    .btns {
        display: flex;
        justify-content: right;

        .btns__delete Button {
            color: red;
            border: 1px solid red;

            &:enabled:hover {
                background-color: rgba(255, 0, 0, 0.1);
            }
        }

        .btns__edit Button {
            color: rgb(220, 220, 0);
            border: 1px solid rgb(175, 175, 0);
            margin-right: 5px;

            &:enabled:hover {
                background-color: rgba(251, 255, 0, 0.1);
            }
        }
    }
}

//MovieForm
.form {
    Input {
        margin: 0 0 15px;
    }

    .error {
        color: red;
        font-size: 15px;
    }
}
